body {
    background-color: rgba(0, 0, 0, 0.984);
    background-image: url(https://img2.wallspic.com/previews/0/7/9/8/4/148970/148970-negro-oceano-textura-cuerpo_de_agua-agua-x750.jpg);
    background-size: cover;
  }

