body {
    background-image: url("https://cdn2.atraccion360.com/media/aa/images/2018/04/los-motores-mas-bonitos-de-la-historia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 82%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.984);
  }