.btnUpload {
    height: 10vh;
    width: 12vh;
    padding: 10px;
    margin:35px;
}
.selectContainer {
    background: var(--main-background-color);
    margin: auto;
    border: 2px solid black;
    padding: 5px;
}
.progressBar {
    margin: auto;
    width: 200px;
    text-align:center;
    border: 2px solid black;
}
.white {
    background: rgb(255, 255, 255);
}
.green1 {
    background: rgb(143, 235, 140);
     width: 20%;
}
.green2 {
    background: rgb(81, 199, 77);
     width: 40%;
}
.green3 {
    background: rgb(65, 207, 60);
     width: 60%;
}
.green4 {
    background: rgb(32, 180, 27);
     width: 80%;
}
.green5 {
    background: rgb(10, 161, 5);
     width: 99%;
}