.navBar {
    background-color: black;
    width: 100%;  
    height: 60px; 
    clear: both;
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar div {
    margin: 0 20px;
}
.navBarUl {
    float:  right; 
}
.navBarUl li {
    list-style: none;
    margin-right: 46px;
    float: left;
    position: relative;
    margin-top: 10px;
}
.navBarUl li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Koulen', cursive;
    font-size: 20px;
}
.navBarUl li a::before {
    display: block;
    content: "";
    background: #fff;
    height: 5px;
    bottom: -15px;
    position: absolute;
    transition: width 0.4;
}
.navBarUl li ul li a::before {
    bottom: 1px;
}
.navBarUl li a:hover::before {
    width: 100%;
}
.navBarUl li ul {
    display: none;
    position: absolute;
    background-color: black;
}
.navBarUl li:hover ul {
    display: block;
    padding-left: 15px;
    z-index: 9999;
}
.navBarUl li ul li {
    padding: 15px 0;
}
.logoNav {
    height: 40px;
    width: 60px;
}
.logoNav img {
    margin: 1.5vh 0 0 1.5vh;
    width: 60px;
}
.cartImg img {
    position: absolute;
    height: 50px;
    right: 0;
    margin: 1vh 2vh 0 0;
}