.footer {
    background: rgba(128, 128, 128, 0.638);
    height: 6em;
    border-top: 5px solid;
    border-color: rgba(105, 105, 105, 0.638);
}
h4 {
    text-align: center;
    padding-top:1em;
    color:rgb(0, 0, 0);
}
.iconosFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 33em;
}
.iconosFooter img {
    height: 2em;
}
.iconosFooter img:hover {
    height: 2.1em;
}