.footer {
    background-color: gray;
    height: 6em;
}
h4 {
    text-align: center;
    padding-top:1em;
}
.iconosFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 33em;
}
.iconosFooter img {
    height: 2em;
}
.iconosFooter img:hover {
    height: 2.1em;
}