.botonFotos {
    position: absolute;
    top: 84px;
    right: 20px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.322);
    border-color: transparent;
    border-radius: 35%;
}
.contador {
    position: absolute;
    top: 125px;
    right: 34px;
    z-index: 11;
    color: white;
    background-color: black;
    border-radius: 100%;
    border: 1px solid;
    padding: 3px;
}
.btnMas {
    position: absolute;
    top: 125px;
    right: 53px;
    z-index: 12;
    background-color: blue;
    border-radius: 50%;
    height: 30px;
    width: 15px;
    border-color: transparent;
}
.btnMen {
    position: absolute;
    top: 125px;
    right: 18px;
    z-index: 12;
    background-color: blue;
    border-radius: 50%;
    height: 30px;
    width: 15px;
    border-color: transparent;
}

.botonFotos {
    margin: 0.8em 1.6em 0 4px;
    width: 2.5em;
}