/* mis estilos: */
* {
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
  }
  /* TEMPORAL */
  
  body {
    height: 100%; 
    /* borrrar si el footer parece estar encima del contenido, quiza no pase. */
  }