.itemList {
    columns: 85vh auto;
}
.itemImg {
    width:  80vh;
}
.flexItem {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1vh 0;
}

@media (max-width: 1000px) {
    .itemList {
        columns: 65vh auto;
    }
    .itemImg {
        width:  65vh;
    }
}

@media (max-width: 800px) {
    .itemList {
        columns: 55vh auto;
    }
    .itemImg {
        width:  55vh;
    }
}
@media (max-width: 700px) {
    .itemList {
        columns: 50vh auto;
    }
    .itemImg {
        width:  50vh;
    }
}
@media (max-width: 630px) {
    .itemList {
        columns: 100vh 1;
        margin: 0 5px;
    }
    .itemImg {
        width:  70vh;
    }
}
@media (max-width: 450px) {
    .itemList {
        columns: 100vh 1;
        margin: 0 5px;
    }
    .itemImg {
        width:  50vh;
        margin-bottom: 10px;
    }
}
@media (max-width: 330px) {
    .itemList {
        columns: 100vh 1;
        margin: 0 10px;
    }
    .itemImg {
        width: 100%;
        margin-bottom: 20px 10px;
    }
}